<table>
    {{ $lang := .Page.Language.Lang }}
    {{ $schedule := site.Data.schedule }}
    {{ range $hour := (seq 8 17) }}
        <tr>
            <th>{{ $hour }}:00</th>

            {{ range sort $schedule ".weight" "asc" }}
                {{ if eq .hour $hour }}
                    {{ if eq .minute 0 }}
                        <td colspan="2"
                            rowspan="{{ .length }}"
                            class="{{ .color }}">
                            {{ if eq $lang "nl" }}
                                {{ .title_nl }}
                                <span>{{ .location_nl }}</span>
                            {{ else }}
                                {{ .title }}
                                <span>{{ .location }}</span>
                            {{ end }}
                        </td>
                    {{ end }}
                {{ end }}
            {{ end }}
        </tr>

        <tr>
            <th>{{ $hour }}:30</th>

            {{ range sort $schedule ".weight" "asc" }}
                {{ if eq .hour $hour }}
                    {{ if eq .minute 30 }}
                        <td colspan="2"
                            rowspan="{{ .length }}"
                            class="{{ .color }}">
                            {{ if eq $lang "nl" }}
                                {{ .title_nl }}
                                <span>{{ .location_nl }}</span>
                            {{ else }}
                                {{ .title }}
                                <span>{{ .location }}</span>
                            {{ end }}
                        </td>
                    {{ end }}
                {{ end }}
            {{ end }}
        </tr>
    {{ end }}
</table>

<style>
table {
	width: 100%;
	max-width: 50rem;
}
	tr:nth-child(even) th {
		color: #ccc;
		font-weight: normal;
	}
	th,
	td {
		padding: 0.5rem 1rem;
	}
	
	th {
		font-weight: normal;
		border-top: thin dotted #ccc;
	}
	
	td {
		font-size: 0.8rem;
		font-weight: bold;
		line-height: 1.4;
		border-radius: 0.2rem;
		transition: opacity 0.3s ease;
        color: white;
        width: 1000px;
	}

	td > span {
		font-size: 0.8em;
		font-weight: normal;
		display: block;
		width: 100%;
	}


.contest {background-color: #ED2024;
color: #ffffff;}
.non-contest {background-color: #e44444;
color: #ffffff;}
</style>